
* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.cross span:nth-child(1) {
  transform: rotate(45deg) translateY(14px) translateX(4px);
}

.cross span:nth-child(2) {
  transform: translateX(-100%);
  opacity: 0;
}

.cross span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10.5px) translateX(0px);
}

.news-slider .slick-track .slick-slide {
  margin: 0 6px;
}

.news-slider .slick-track .slick-slide>div {
  display: flex;
  justify-content: center;
}

.news-slider .slick-track {
  display: flex;
  padding: 30px 0px 30px 0px;
}

.news-slider .slick-dots li button:before {
  font-size: 0;
  width: 10px !important;
  height: 10px !important;
}

.news-slider .slick-dots li button {
  font-size: 0;
  width: 100% !important;
  height: 100% !important;
}

.news-slider .slick-dots li {
  background: white;
  border-radius: 100px !important;
  width: 10px !important;
  height: 10px !important;
  margin: 0px 3px !important;
  transition: all 300ms linear !important;
  position: relative;
}

.news-slider .slick-dots li::before {
  content: '';
  position: absolute;
  top: -0.8px;
  left: -0.8px;
  right: -0.8px;
  bottom: -0.8px;
  background: linear-gradient(96.09deg, #E31930 0%, #F3576E 100%);
  border-radius: 50%;
  z-index: -1;
}

.news-slider .slick-dots li.slick-active {
  background: linear-gradient(96.09deg, #E31930 0%, #F3576E 100%);
  height: 14px !important;
  width: 14px !important;
}
